.outer {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px 1rem;
  min-height: 90vh;
}

.header {
  display: flex;
  padding: 20px 0;
  align-items: center;
  gap: 1rem;

  .title {
    flex-grow: 1;
  }
}
