.outer {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  min-height: 90vh;
}

.header {
  display: flex;
  padding: 20px 0;
  align-items: center;
  gap: 1rem;

  .title {
    flex-grow: 1;
  }

  button {
    border: none;
    background-color: var(--input-background);
    color: var(--input-color);
    padding: 5px 10px;
    border-radius: 3px;
    font: inherit;

    &:focus {
      box-shadow: 0 0 0 2px var(--theme-color);
      outline: none;
    }
  }
}
