@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin starBackground {
  background-color: var(--theme-background);
  z-index: 0;
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & > * {
    color: var(--header-color);
  }

  position: relative;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  padding: 1.5rem;

  ~ * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: fixed;
    z-index: -1;
    background-size: cover;
    background: url("../assets/star-background.svg");
  }

  &:before {
    animation: star-background-spin infinite 150s linear;
  }

  @media (orientation: portrait) {
    &:before {
      height: 130vh;
      width: 130vh;
    }
  }

  @media (orientation: landscape) {
    &:before {
      height: 130vw;
      width: 130vw;
    }
  }

  @keyframes star-background-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}