.container {
  background-color: var(--theme-background);
  color: var(--header-color);
  padding: 0 1.5rem;
}

a {
  color: var(--theme-color);
}

.innerContainer {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}
