.container {
  background-color: var(--theme-background);
  color: var(--header-color);
}

a {
  color: var(--theme-color);
}

.innerContainer {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.title {
  font-size: 50px;
}

.subHeader {
  font-size: 20px;
}
