@import "src/theme/mixin";

.btnBase {
  @include noSelect;
  background-color: var(--btn-background-color);
  color: var(--btn-color);

  margin: 0;
  text-decoration: none;
  border: none;

  font: inherit;
  cursor: pointer;

  transition: transform 0.07s ease-out, outline 0.03s ease-out;

  &:active {
    transform: scale(0.97);
  }

  &:focus-visible {
    outline: 3px solid var(--btn-background-color);
    outline-offset: 3px;
    // TODO looks ass in lightmode
  }
}

.btnDefault {
  --btn-background-color: var(--vote-button-background);
  --btn-color: var(--vote-button-color);
  border-radius: 12px;
  font-weight: bold;
  padding: 1rem;

  &:hover {
    background-color: var(--vote-button-background-hover);
  }
}

.btnAdmin {
  --btn-color: var(--input-color);
  --btn-background-color: var(--input-background);
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  border: none;

  & + .btnAdmin {
    margin-left: 1em;
  }
}
