@import "src/theme/mixin";

.section {
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: center;
  background-color: var(--background);
}

.container {
  background-color: var(--theme-background);
  margin: 0 auto;
  max-width: 602px; // + 2px for optical things
  border-radius: 12px;
  color: var(--header-color);
  perspective-origin: center;
}

.textContainer {
  font-size: 18px;
  max-width: 350px;
  margin: 0 auto;
  padding: 3.5rem 1.5rem 2rem 1.5rem;
  & > h4 {
    margin: 0;
  }

  & > p {
    margin: 2px 0 0 0;
    opacity: 0.8;
  }
}

.sofa {
  @include noSelect;
  max-height: 105px;
  margin-bottom: -6px; // Optical hack
  transition: 0.15s ease-out;
  transform-origin: center center;
}

@media (hover: hover) {
  .sofaContainer {
    transition: 0.15s ease-out;
    &:hover {
      transform: translateY(-14px);

      .sofa {
        transform: rotate(-2deg);
      }
    }
  }
}
