@import "src/theme/mixin";

// TODO #77 style focused state
.button {
  @include noSelect; 
  background-color: var(--vote-button-background);
  color: var(--vote-button-color);
  border-radius: 12px;
  font: inherit;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:active {
    transform: scale(0.97);
  }
}