.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animation {
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin-bottom: 2rem;
  border: 0.5rem solid var(--theme-color);
  border-right-color: transparent;
  animation: rotate 1s linear infinite;

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
