.pointDividerContainer {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;

  &::after {
    content: ".........................................................................................................";
    color: var(--color);
    font-size: 1.8rem;
    line-height: 1rem;
    letter-spacing: -0.4rem;
    opacity: 0.3;
  }
}

.row {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 0.75rem;
}
