.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navigationBar {
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}

.adjustedStarBackground {
  min-height: 50vh;
}
