.error {
  color: red;
}

.button {
  border: none;
  background-color: var(--input-background);
  color: var(--input-color);
  padding: 5px 10px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1rem;
}

.lastItem {
  margin-bottom: 2rem;
}
