.error {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button,
  input {
    border: none;
    background-color: var(--input-background);
    color: var(--input-color);
    padding: 5px 10px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1rem;
    text-decoration: none;
  }

  .addVoteOption {
    align-self: start;
  }

  .submit {
    background-color: var(--green-button-background);
    margin-right: 1rem;
  }
}
