.outer {
  background-color: var(--footer-background);
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem 0;

  h2 {
    margin-top: 0;
  }
}

.error {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .addVoteOption {
    align-self: start;
  }

  .submit {
    background-color: var(--green-button-background);
  }
}
