.contentSection {
  background-color: var(--background);
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  text-align: left;
  line-height: 1.7;
  font-size: 18px;
}

.disclaimer {
  background-color: rgba(255, 241, 83, 0.2);
  margin-top: 3em;
  padding: 1rem 2.5rem;
  border-left: 6px solid var(--theme-color);
  line-height: 1.5;
}