.contentSection {
  background-color: var(--background);
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 1.5rem 1rem 1.5rem;
  text-align: left;
  line-height: 1.7;
  font-size: 18px;
}