.footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  text-align: left;
  z-index: 1;
  position: relative;
  padding: 1rem 1.5rem;
}

@media (min-width: 992px) {
  .footer {
    padding: 2rem 1.5rem;
  }
}

.innerFooter {
  max-width: 600px;
  margin: 0 auto;
  list-style-type: none;

  & ul {
    list-style-type: none;
    padding-left: 0;
  }

  & h4 {
    margin-bottom: 4px;
  }

  & p {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
  }
}

.captionHeading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 2.5rem 0 0.5rem 0;
}

.link {
  color: var(--footer-link);
}

.link:visited {
  color: var(--footer-link);
}

p.centered {
  display: block;
  text-align: center;
  margin: 1.5rem 0 0;
}
