@import "src/theme/mixin";

.introSection {
  background-color: var(--theme-background);
  z-index: -11;
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    color: var(--header-color);
  }

  position: relative;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  padding: 1.5rem;
}

.introSection::before {
  content: "";
  position: fixed;
  z-index: -10;
  background-size: cover;
  background: url("../assets/star-background.svg");
}

.innerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  padding-top: 3rem; // For optical alignment
  z-index: 10;
}

.description {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .description {
    font-size: 1.2rem;
  }
}

@media screen and (orientation: portrait) {
  .introSection::before {
    height: 130vh;
    width: 130vh;
  }
}

@media screen and (orientation: landscape) {
  .introSection::before {
    height: 130vw;
    width: 130vw;
  }
}

.introSection::before {
  animation: star-background-spin infinite 150s linear;
}

@keyframes star-background-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sheepContainer {
  position: absolute;
  z-index: -11;
  top: 0;
  height: 100%;
  width: 100%;
}
