@import "src/theme/mixin";

.minStarBackground {
  min-height: 92vh;
}

.innerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  padding-top: 3rem; // For optical alignment
  z-index: 1;
}

.description {
  font-size: 1rem;
}

.sheepContainer {
  position: absolute;
  z-index: -11;
  top: 0;
  height: 100%;
  width: 100%;
}

.optionsContainer {
  display: none;
  margin: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 576px) {
  .description {
    font-size: 1.2rem;
  }

  .optionsContainer {
    display: block;
  }
}
