@import "src/theme/mixin";

.introSection {
  background-color: #100522;
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    color: white;
  }

  position: relative;
  overflow: hidden;
  outline: none;

  padding: 1.5rem;
}

.introSection::before {
  content: "";
  position: absolute;
  background-size: cover;
  background: url("../assets/star-background.svg") 0 0 repeat;
}

.innerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  padding-top: 3rem; // For optical alignment
  z-index: 10;
}

.description {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .description {
    font-size: 1.2rem;
  }
}

.starBackground {
  position: fixed;
}

@media screen and (orientation: portrait) {
  .introSection::before {
    height: 130vh;
    width: 130vh;
  }
}

@media screen and (orientation: landscape) {
  .introSection::before {
    height: 130vw;
    width: 130vw;
  }
}

.introSection::before {
  animation: star-background-spin infinite 150s linear;
}

@keyframes star-background-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sheep {
  @include noSelect;
  width: 200px;

  position: absolute;
  bottom: 0px;
  left: calc((100vw - 200px) / 2);

  transition: bottom 0.2s ease-out, left 0.1s linear;
}

.jumped {
  bottom: 200px;
}

.right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
