$medium: 768px;
$large: 992px;

.legalSubheader {
  margin: 0;
  font-size: 1.4rem;
}

.legalSection h2 {
  margin-bottom: 1em;
}

@media (min-width: $large) {
  .legalSection {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1rem;
    display: grid;
    align-items: flex-start;
  }

  .legalSubheader {
    grid-column-start: 1;
    grid-column-end: 5;
    position: sticky;
    top: 7rem;
    height: fit-content;
  }
}

.legalText {
  grid-column-start: 6;
  grid-column-end: 13;
  & > h3:first-child {
    margin-top: 0;
  }
  & > p:first-child {
    margin-top: 0;
  }
}
