@use "src/theme/mixin";

.legalSubheader {
  margin: 0;
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .legalSection {
    @include mixin.defaultGrid;
  }

  .legalSubheader {
    grid-column-start: 1;
    grid-column-end: 5;
    position: sticky;
    top: 7rem;
    height: fit-content;
  }
}

.legalText {
  grid-column-start: 6;
  grid-column-end: 13;
  & > h3:first-child {
    margin-top: 0;
  }
  & > p:first-child {
    margin-top: 0;
  }
}
