
.container {
  margin: 0;
  // 1px padding is required because otherwise stars are visible
  // behind the heading margin in the dark color scheme.
  padding: 1px 1.5rem;
  background-color: var(--background);
}

.votingSection {
  max-width: 600px;
  font-size: 18px;
  text-align: left;
  margin: 1.5rem auto 0;
  padding-bottom: 3rem;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto auto;
  row-gap: 0.5rem;
}

.captchaContainer {
  background-color: var(--captcha-background);
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  margin-bottom: 0.5rem;
}

.description {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.disclaimer {
  background-color: rgba(255, 241, 83, 0.2);
  padding: 1rem 2.5rem;
  border-left: 6px solid var(--theme-color);
  line-height: 1.5;
  margin-bottom: 3.5rem
}
