.status {
  &.active {
    color: #00b700;
  }
}

.table {
  border-collapse: collapse;

  td,
  th {
    text-align: left;
    padding: 2px 10px;
  }

  td {
    border-top: 1px solid #9996;
    opacity: 0.7;
  }
  th {
    font-weight: bold;
  }
}

.error {
  color: red;
}

.header {
  h2 {
    margin-bottom: 0px;
  }
  p {
    margin-top: 0px;
  }
}
