:root {
  --theme-color: #fff153;
  --theme-background: #100522;

  --color: black;
  --header-color: white;
  --footer-color: black;

  --background: white;
  --input-background: #dddddd;
  --header-background: #282c34;
  --footer-background: #f4f4f4;

  --link: black;
  --header-link: var(--theme-color);
  --footer-link: black;

  --captcha-background: #f4f4f4;
  --point-divider: rgba(0, 0, 0, 0.25);

  --vote-button-background: #ffef3f;
  --vote-button-color: black;
  --green-button-background: #50dd4b;

  --selection-background: var(--theme-color);
  --selection-text: #100522;
}

[data-theme="dark"] {
  --theme-color: #fff153;
  --theme-background: #100522;

  --color: white;
  --header-color: white;
  --footer-color: white;

  --background: #111111;
  --input-background: #333333;
  --header-background: #282c34;
  --footer-background: #09090a;

  --link: white;
  --header-link: var(--theme-color);
  --footer-link: white;

  --captcha-background: #282c34;
  --point-divider: rgba(255, 255, 255, 0.25);

  --vote-button-background: #ffef3f;
  --vote-button-color: black;
  --green-button-background: #058a00;

  --selection-background: var(--theme-color);
  --selection-text: #100522;
}

body {
  margin: 0;
  font-family: "SpaceMono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  color: var(--color);
  background-color: var(--background);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-text);
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link);
}

@font-face {
  font-family: "SpaceMono";
  font-weight: 400;
  src: url("./assets/font/Space_Mono/space-mono-regular.woff2") format("woff2"),
    url("./assets/font/Space_Mono/space-mono-regular.woff") format("woff");
}

@font-face {
  font-family: "SpaceMono";
  font-weight: 700;
  src: url("./assets/font/Space_Mono/space-mono-bold.woff2") format("woff2"),
    url("./assets/font/Space_Mono/space-mono-bold.woff") format("woff");
}
